# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*venv/
*/.venv/

# Node.js
node_modules/
dist/
build/
.npm
npm-debug.log*

# Git
.git/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
